.footer{
     @media screen and (max-width: 767px) {
           
       box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
      }
      
      @media screen and (min-width: 768px) {        
              
        box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
      }
      
      @media screen and (min-width: 1280px) {
              
        box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
      }
.link {
    text-decoration: none;
}

.footer {
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
    background-color: var(--main-bg-color);
    background-repeat: no-repeat;
    
    // MOBILE 
    @media screen and (max-width: 767px) {
        background-image: url(/src/images/footer/mobile/mobile-right@1x.png), 
                        url(/src/images/footer/mobile/mobile-bottom@1x.png), 
                        url(/src/images/footer/mobile/mobile-left@1x.png);
        background-position: top right, bottom center, top 132px left;
        background-size: 104px, 253px, 110px;
        
        
        
        
    @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(/src/images/footer/mobile/mobile-right@2x.png), 
                    url(/src/images/footer/mobile/mobile-bottom@2x.png), 
                    url(/src/images/footer/mobile/mobile-left@2x.png);
                background-position: top right, bottom center, top 132px left;
                background-size: 104px, 253px, 110px;
       }
    }
    
        // TABLET 
       @media screen and (min-width: 768px) and (max-width: 1279px) {
            background-image: url(/src/images/footer/tablet/tablet_right@1x.png), 
                            url(/src/images/footer/tablet/tablet_right@2x.png);
            background-position: top right, bottom center;
            background-size: 203px, 768px;



        @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                    background-image: url(../images/footer/tablet/tablet_right@2x.png), 
                                    url(../images/footer/tablet/tablet_bottom@2x.png);
                    background-position: top right, bottom center;
                    background-size: 203px, 768px;
}
}
        // DESKTOP 
       @media screen and (min-width: 1280px){
        background-image: url(../images/footer/desktop/desktop@1x.png); 
        background-position: bottom center;
        background-size: 1211px;


        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/footer/desktop/desktop@1x.png); 
            background-position: bottom center;
            background-size: 1211px;
        }
       }
}

.footer__container {
    padding: 60px 21px 60px 20px;

    @media screen and (min-width: 768px){
        padding: 110px 32px 100px 32px;
    }

    @media screen and (min-width: 1280px){
        padding: 100px 16px;
    }


}
@media screen and (min-width: 1280px) {
    .footer__desktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 320px;

        margin-bottom: 80px;
    } 
}


.footer-top {
    display: flex;
    gap: 81px;

    @media screen and (min-width: 768px) {
        gap: 114px;
        align-items: center;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        gap: 145px;
        margin-bottom: 0;
    }


}

.footer-nav {
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .footer-nav__item:not(:last-child) {
        margin-bottom: 20px;
    }  
}


.footer-nav__link {
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    
    color: var(--menu-text-color);

    transition: color var(--animation);
    
    &:hover,
    &:focus {
        color: var(--hover-green-color);
}
}



.widget-subscribe {
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
       margin-bottom: 100px; 
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0; 
     }
}

.footer__title {
    font-family: var(--font);
    margin-bottom: 12px;
    margin-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(21 / 14);
    color: var(--main-text-color);

}

.footer-form {
    margin-bottom: 20px;
    position: relative;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        gap: 13px;

        margin-bottom: 18px;
    }

}

.footer-form__group {
    display: block;
    position: relative;
    margin-bottom: 20px; 

    @media screen and (min-width: 768px) {
        margin-bottom: 0px; 
    }

}


.footer-form__email {
    width: 100%;
    height: 42px;
    border: 0.854167px solid var(--main-yellow-color);
    border-radius: 30px;
    padding: 12px;
    cursor: pointer;

    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(18 / 12);

    color: #505050; 

    transition: border var(--animation);
        &:focus-within{
        outline: none;
        }

        &::placeholder {
            transition: transform 500ms ease-out;
        }

        &:focus::placeholder {
            transform: translateX(160px);
        }
    
        &:invalid:not(:placeholder-shown){
            border: 0.854167px solid #FF705D;
        }
        &:valid {
            border: 0.854167px solid var(--hover-green-color);
        }

    @media screen and (min-width: 768px) {
        width: 279px;
    }
}

.footer-form__notfication {
    position: absolute;
    bottom: -15px;
    left: 0;
    display: inline-flex;
    align-items: center;
    gap: 4px;

    font-family: var(--font);
    font-weight: 400;
    font-size: 10px;
    line-height: calc(15 / 10);
    color: #FF705D;
    opacity: 0;

    transition: opacity var(--animation);

    &::before {
        content: "";
        background-image: url(../images/footer/notfication.svg);
        width: 12px;
        height: 12px;
    }
    .footer-form__email:invalid:required:not(:placeholder-shown) ~ & {
        opacity: 1;
      }

}


.footer-form__btn{
    display: block;
    margin-left: auto;
    width: 106px;
    height: 42px;
    padding: 0px;
    border: 1px solid  var(--hover-arrow-color);
    border-radius: 30px;
    font-family: var(--font);
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;

    cursor: pointer;
    transition: border-color var(--animation);

    
        &:hover,
        &:focus{
            border-color: var(--hover-btn-color);
        }

        @media screen and (min-width: 768px) {
            margin: 0;
        }
}



.checkbox__policy {
    font-family: var(--font);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;

    color: var(--main-text-color);

@media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
}
}

.checkbox__policy-link{
    color:var(--hover-arrow-color);
    text-decoration: underline; 

    transition: color var(--animation);

    &:hover,
    &focus {
        color: var(--hover-btn-color);
    }
}



// FOOTER POLICY 

.footer-policy {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;   
    }

}

.footer-policy__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 767px) {
    margin-bottom: 40px;

    }

    @media screen and (min-width: 768px) {
        gap: 20px;
        justify-content: center;
    }
}
    

.footer-policy__link{
        font-family: var(--font);
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: calc(12 / 10);
        text-decoration-line: underline;
        color:var(--hover-arrow-color);
    
        transition: color var(--animation);
    
        &:hover,
        &focus {
            color: var(--hover-btn-color);
        }

        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: calc(14 / 12);
        }
        
        @media screen and (min-width: 1280px) {
            font-size: 12px;
        }
    }


    
.footer-policy__text{
        font-family: var(--font);
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin: 0;

        color: var(--main-text-color);

        @media screen and (max-width: 767px) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: calc(14 / 12);
            
        }
}
}