:root{
    --main-bg-color: #FEFEFE;
    --main-text-color: #2C2C2C;
    --menu-text-color: #000000;
    --hover-green-color: #BBF330;
    --main-yellow-color: #FFE550;
    --hover-arrow-color: #7EB101;
    --hover-btn-color: #597D00;
    --font:'Roboto', sans-serif;
}