<section class="customers container" id="service">
    <div class="customers__container">
        <div class="customers__title_h">
            <h2 class="customers__title">What&nbspour&nbspCustomers Say</h2>
            <p class="customers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <ul class="customers__list">
            <li class="customers__item">
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <p class="customers__feedback">“The Best app I have used to order food in a while, so many options to
                    choose from too, I would recommend to a freind,
                    No questions asked”</p>

                <div class="customers__review">
                    <img srcset="/src/images/customers/user/img1-1x.png 1x, /src/images/customers/user/img1-2x.png 2x"
                        src="/src/images/customers/user/img1-1x.png" alt="User-foto" width="48" height="48" />

                    <div class="customers__information">
                        <h3 class="customers__name">
                            Sumith Shah
                        </h3>
                        <p class="customers__status">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="customers__item">
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <svg class="customers__icon" width="17" height="16">
                    <use href="/src/images/icon.svg#icon-star"></use>
                </svg>
                <p class="customers__feedback">“The ease with which I can just go in and order what i want was amazing,
                    It has been a very pleasant experience ordering
                    from this app”</p>

                <div class="customers__review">
                    <img srcset="/src/images/customers/user/img2-1x.png 1x, /src/images/customers/user/img2-2x.png 2x"
                        src="/src/images/customers/user/img2-1x.png" alt="User-foto" width="48" height="48" />
                    <div class="customers__information">
                        <h3 class="customers__name">
                            Sumith Shah
                        </h3>
                        <p class="customers__status">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>