<section class="favorites">
  <div class="container favorites__container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__uppertitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <div class="favorites__img">
          <img
            srcset="
              /src/images/favorites/gamburger-315.png    315w,
              /src/images/favorites/gamburger-315-2x.png 630w,
              /src/images/favorites/gamburger-268.png    248w,
              /src/images/favorites/gamburger-268-2x.png 536w,
              /src/images/favorites/gamburger-224.png    224w,
              /src/images/favorites/gamburger-224-2x.png 448w
            "
            alt="gamburger"
            src="/src/images/favorites/gamburger-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__img">
          <img
            srcset="
              /src/images/favorites/pasta-315.png    315w,
              /src/images/favorites/pasta-315-2x.png 630w,
              /src/images/favorites/pasta-268.png    268w,
              /src/images/favorites/pasta-268-2x.png 536w,
              /src/images/favorites/pasta-224.png    224w,
              /src/images/favorites/pasta-224-2x.png 448w
            "
            alt="pasta"
            src="/src/images/favorites/pasta-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__img">
          <img
            srcset="
              /src/images/favorites/pizza-315.png    315w,
              /src/images/favorites/pizza-315-2x.png 630w,
              /src/images/favorites/pizza-268.png    268w,
              /src/images/favorites/pizza-268-2x.png 536w,
              /src/images/favorites/pizza-224.png    224w,
              /src/images/favorites/pizza-224-2x.png 448w
            "
            alt="pizza"
            src="/src/images/favorites/pizza-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__img hidden">
          <img
            srcset="
              /src/images/favorites/chicken-315.png    315w,
              /src/images/favorites/chicken-315-2x.png 630w,
              /src/images/favorites/chicken-268.png    268w,
              /src/images/favorites/chicken-268-2x.png 536w
            "
            alt="chicken"
            src="/src/images/favorites/chicken-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__img hidden">
          <img
            srcset="
              /src/images/favorites/salat-315.png    315w,
              /src/images/favorites/salat-315-2x.png 630w,
              /src/images/favorites/salat-268.png    268w,
              /src/images/favorites/salat-268-2x.png 536w
            "
            alt="salat"
            src="/src/images/favorites/salat-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
      <li class="favorites__item">
        <div class="favorites__img hidden">
          <img
            srcset="
              /src/images/favorites/borshch-315.png    315w,
              /src/images/favorites/borshch-315-2x.png 630w,
              /src/images/favorites/borshch-268.png    268w,
              /src/images/favorites/borshch-268-2x.png 536w
            "
            alt="borshch"
            src="/src/images/favorites/borshch-315.png"
            sizes="
            (min-width: 1280px) 315px,
            (min-width: 768px) 268px,
            (max-width: 767px) 224px, 100vw"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
