<section class="footer overlay">
    <div class="container">

        <!-- Footer logo -->
<div class="footer__container">
    <div class="footer__box-desktop">
        <div class="footer__logo">
            <svg class="logo" width="51" height="51"> 
             <use href="/src/images/icon.svg#logo">Logo</use>
         </svg>
         </div>
         <!-- Footer nav -->
         <div class="footer__nav">
     <ul class="footer__nav-menu list">
        <li><a  class="nav__link" href="">Home</a></li>
     <li><a  class="nav__link" href="">About</a></li>
     <li><a  class="nav__link" href="">Service</a></li>
     <li><a  class="nav__link" href="">Menu</a></li>
     <li><a  class="nav__link" href="">Contacts</a></li>
     </ul>
         </div>
    </div>
   <!-- Footer nav -->

<!-- widget subscribe -->
<div class="widget-subscribe">
    <h4 class="footer__title">Subscribe</h4>
    <form action="" class="footer__form">
        <input type="email" name="subscribe" id="email" class="footer__email" placeholder="Enter your email"
        title="Please enter correct email address" required > 
        <button type="submit" class="footer__btn">Subscribe</button>
    </form>
    </div>
    <!-- Private polici -->
    
    
</div>
<div class="footer__checkbox">
    <label class="checkbox__policy" for="use-checkbox-policy">By subscribing you agree to with our <a href="#" class="checkbox__policy-link">Privacy Policy</a></label>
    </div>
    <div class="footer__box">
        <div class="footer__item">
            <ul class="footer__list list">
                <li><a class="footer__link" href="">Privacy Policy</a></li>
                <li><a class="footer__link" href="">Terms of Service</a></li>
                <li ><a class="footer__link" href="">Cookies Settings</a></li>
        
            </ul>
            <div class="footer__box-text">
                <p class="footer__text">2022 FoodSta. All right reserved.</p>
            </div>
         
        </div>
    </div>
</div>

</section>