<footer class="footer">
    <div class="footer__container">
        <!-- Footer logo -->
        <div class="footer__desktop container">
            <div class="footer-top">
                <div class="footer__logo">
                    <svg class="logo" width="66" height="52">
                        <use href="/src/images/icon.svg#logo">Logo</use>
                    </svg>
                </div>
                <!-- Footer nav -->
                <ul class="footer-nav list">
                    <li class="footer-nav__item"><a class="footer-nav__link link" href="#home">Home</a></li>
                    <li class="footer-nav__item"><a class="footer-nav__link link" href="#about">About</a></li>
                    <li class="footer-nav__item"><a class="footer-nav__link link" href="#service">Service</a></li>
                    <li class="footer-nav__item"><a class="footer-nav__link link" href="#menu">Menu</a></li>
                    <li class="footer-nav__item"><a class="footer-nav__link link" href="#contacts">Contact</a></li>
                </ul>

            </div>


            <!-- widget subscribe -->
            <div class="widget-subscribe">
                <h4 class="footer__title">Subscribe</h4>
                <form action="" class="footer-form">
                    <label class="footer-form__group">
                        <input type="email" name="subscribe" id="email" class="footer-form__email"
                            placeholder="Enter your email" required minlength="6">
                        <span class="footer-form__notfication">Not a valid email address (example@email.com)</span>
                    </label>
                    <button type="submit" class="footer-form__btn">Subscribe</button>
                </form>
                <p class="checkbox__policy">By subscribing you agree to with our <a href="#"
                        class="checkbox__policy-link link">Privacy Policy</a></p>
            </div>

        </div>

        <!-- Private polici -->
        <div class="footer-policy container">
            <ul class="footer-policy__list list">
                <li><a class="footer-policy__link link" href="">Privacy Policy</a></li>
                <li><a class="footer-policy__link link" href="">Terms of Service</a></li>
                <li><a class="footer-policy__link link" href="">Cookies Settings</a></li>
            </ul>
            <p class="footer-policy__text">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</footer>