<div class="backdrop is-hidden" data-modal data-modal-1 data-modal-2>
    <div class="modal">
        <button type="button" data-modal-close class="modal-btn">
            <svg class="modal-icon" width="20" height="20">
                <use href="/src/images/icon.svg#mobile-menu-btn-close"></use>
            </svg></button>
        <div class="modal-form">
            <form action="" class="modal__form">
                <strong>Subscribe To Get Special Offers</strong>
                <p class="modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                    in eros elementum
                    tristique.</p>
                <input type="email" name="subscribe" id="email" class="subscribe__email" placeholder="Enter your email"
                    title="Please enter correct email address" required>
                <div><button type="submit" class="subscribe__btn">Subscribe</button></div>
        </div>

        </form>
    </div>
</div>
</div>