<div class="backdrop is-hidden" data-modal data-modal-1 data-modal-2>
  <div class="modal">
    <button type="button" data-modal-close class="modal-btn">
      <svg class="modal-icon" width="20" height="20">
        <use href="/src/images/icon.svg#mobile-menu-btn-close"></use>
      </svg>
    </button>
    <div class="modal-form">
      <form action="" class="modal__form">
        <strong>Order Form</strong>
        <div class="form-stroke">
          <label for="user-name" class="input-register-label">
            <span class="modal-text">Name</span>
            <span class="modal-input">
              <input type="text" name="user-name" id="user-name" class="subscribe__email" placeholder="Your name"
                required>
            </span>
          </label>
        </div>
        <div class="form-stroke">
          <label for="user-phone" class="input-register-label">
            <span class="modal-text">Phone number</span>
            <span class="modal-input">
              <input type="tel" name="user-phone" id="user-phone" class="subscribe__email"
                placeholder="+38(0_ _) _ _ _   _ _   _ _" required>
            </span>
          </label>
        </div>
        <div class="form-stroke">
          <label for="e-mail" class="input-register-label">
            <span class="modal-text">E-mail</span>
            <span class="modal-input">
              <input type="email" name="subscribe" id="e-mail" class="subscribe__email" placeholder="example@gmail.com"
                title="Please enter correct email address" required>
            </span>
          </label>
        </div>
        <div class="form-stroke"><button type="submit" class="modal-button__btn">Send</button></div>
    </div>
    </form>
  </div>
</div>
</div>