<section class="offerings">
    <div class="container offerings__box">
        <div class="apple-box">
            <div class="apple-border">
                <div class="apple">
                    <img class="apple__image" src="/src/images/offerings/aple_ld.png" alt="Apple" srcset="/src/images/offerings/aple_sm.png 201w,
            		  /src/images/offerings/aple_md.png 257w,
            		  /src/images/offerings/aple_ld.png 396w"
                        sizes="(max-width: 767px) 201px, (min-width: 768px) 257px, (min-width: 1280px) 396px, 100vw">
                </div>

            </div>
            <div class="apple__image-1"><img class="apple__shadow-1" src="/src/images/offerings/aple_shadow_1.png"
                    alt="Apple" srcset="/src/images/offerings/aple_shadow_1.png 166w"
                    sizes="(min-width: 768px) 166px, 100vw"></div>
            <div class="apple__image-2">
                <img class="apple__shadow-2" src="/src/images/offerings/aple_shadow_2.png" alt="Apple"
                    srcset="/src/images/offerings/aple_shadow_2.png 108w" sizes="(min-width: 768px) 108px, 100vw">
            </div>
        </div>
        <div class="offerings-information">
            <div class="offerings__tittle">
                <h2 class="offerings__tittle__text">What's Special About Our Offerings</h2>
                <p class="offerings__tittle__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum
                    tristique. Duis
                    cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            </div>
            <div class="offerings-information__set">
                <div class="offerings-information__delivery"><svg class="icon__offerings" width="48" height="48">
                        <use href="/src/images/icon.svg"></use>
                    </svg>
                    <h3 class="offerings-information__tittle">Fasest Delivery</h3>
                    <p class="offerings__tittle__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </div>
                <div class="offerings-information__order"><svg class="icon__hand" width="48" height="48">
                        <use href="/src/images/icon.svg"></use>
                    </svg>
                    <h3 class="offerings-information__tittle">Easy to order</h3>
                    <p class="offerings__tittle__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros.</p>
                </div>
            </div>
            <div class="offerings-button">
                <button type="submit" class="offerings-button__btn">Order Now</button>
                <a href="http://" class="offerings-button__link">Read More <svg class="icon__arrow" width="8.85"
                        height="5">
                        <use href="/src/images/icon.svg"></use>
                    </svg></a>
            </div>
        </div>
    </div>
</section>