<section class="container sub" id="contacts">
    <div class="subscribe">
        <div class="subscribe__image">
            <img class="subscribe__picture" srcset="/src/images/subscribe/banan@1x_sm.png 280w,
            		  /src/images/subscribe/banan@1x_md.png 281w,
            		  /src/images/subscribe/banan@1x.png 608w"
                sizes="(max-width: 767px) 280px, (min-width: 768px) 281px, (min-width: 1280px) 608px, 100vw"
                src="/src/images/subscribe/banan@1x_sm.png" alt="Banana" width="608" height="266" />
        </div>
        <div class="subscribe__inform">
            <div class="subscribe__text">
                <h2 class="subscribe__tittle">Subscribe To Get Special Offers</h2>
                <p class="subscribe__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    varius enim in eros elementum
                    tristique.</p>
            </div>

            <form action="" class="subscribe__form">
                <label class="subscribe-form__group" for="subscribe__email">
                    <input type="email" name="subscribe" class="subscribe__email" placeholder="Enter your email"
                        title="Please enter correct email address" required>
                    <span class="subscribe-form__notfication">Not a valid email address (example@email.com)</span>
                </label>
                <button type="submit" class="subscribe__btn">Subscribe</button>
            </form>
        </div>

    </div>
</section>